body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

.header, .footer {
    padding: 0px 10vw;
}
.content1,.content2,.content3 {
    padding: 0px 20vw;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

}

.header .top {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;

}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.header .intro .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header .intro .right {
    min-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content1 .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex:auto;
}

.content2 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    align-self: center;
    border-radius: 15px;
    margin: 50px 10vw;
    padding: 10px 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 24px 0px;
}

.signup {
    background-color: #3882F6;
    color: white;
    min-width: 100px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

p {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    color:#1F2937;
}

a, .left p, h3, .footer, .right {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.author {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: right;
    margin: 0;
}

.image {
    border-radius: 15px;
    border: 3px solid #3882F6;
    aspect-ratio: 1/1;
}

.quote {
    font-size: 36px;
    margin-bottom: 5px;
}

.content3 .signup {
    border: 2px white solid;
    margin-left: 40px;
}

.card {
    text-align: center;
}